.card-grid {
  display: flex;
  flex-flow: row wrap;
  padding: 2em 2.5em;
}

.movie-card {
  padding: 0 !important;
  width: 17rem;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.movie-card img {
  border-radius: 4px;
}

.movie-card {
  box-sizing: border-box;
  margin: 1rem 0.5em;
}

@media screen and (min-width: 720px) {
  .movie-card {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and (min-width: 1200px) {
  .movie-card {
    flex: 0 0 calc(16.66% - 28px);
    margin: 22px 14px;
  }
}

@media screen and (max-width: 758px) {
  .movie-card {
    flex: 0 0 calc(50% - 16px);
  }
}
